Source: nullmailer
Section: mail
Priority: optional
Maintainer: David Bremner <bremner@debian.org>
Build-Depends: daemontools <!nocheck>,
               debhelper (>= 10.8),
               libgnutls28-dev | libgnutls-dev,
               po-debconf,
#               ucspi-tcp-ipv6 <!nocheck>
Rules-Requires-Root: binary-targets
Standards-Version: 4.1.2
Homepage: http://untroubled.org/nullmailer/
Vcs-Git: https://salsa.debian.org/bremner/nullmailer.git
Vcs-Browser: https://salsa.debian.org/bremner/nullmailer

Package: nullmailer
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: mail-transport-agent
Provides: mail-transport-agent
Replaces: mail-transport-agent
Description: simple relay-only mail transport agent
 Nullmailer is a replacement MTA for hosts, which relay to a fixed set of
 smart relays. It is designed to be simple to configure and especially
 useful on slave machines and in chroots.
