Source: nullmailer
Section: mail
Priority: extra
Maintainer: Norbert Tretkowski <nobse@debian.org>
Build-Depends: debhelper, po-debconf, automake1.9, autoconf, autotools-dev, dpatch
Standards-Version: 3.7.2.0

Package: nullmailer
Architecture: any
Depends: ${shlibs:Depends}, debconf (>= 0.5) | debconf-2.0, lsb-base
Recommends: sysklogd | system-log-daemon
Conflicts: mail-transport-agent, suidmanager (<< 0.52), lsb
Provides: mail-transport-agent
Replaces: mail-transport-agent
Description: simple relay-only mail transport agent
 Nullmailer is a replacement MTA for hosts, which relay to a fixed set of
 smart relays. It is designed to be simple to configure and especially
 useful on slave machines and in chroots.
 .
 The sendmail interface of this package doesn't provide the -bs switch,
 hence it's not LSB compatible!
