#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpatch/dpatch.make

# Following stanzas from Sandro Tosi and tyler @ blogspot for dpatch + dh,
# further modded for autotools-dev.  Many thanks.
# http://sandrotosi.blogspot.com/2008/08/minimal-debianrules-for-dh7dpatch.html

build: patch-stamp

clean: unpatch

%:
	dh --with autotools-dev $@

# dh_prep replaces dh_clean -k in debhelper 7
override_dh_prep:
	dh_prep
	debconf-updatepo

override_dh_auto_configure:
	# Add here commands to configure the package.
	CPPFLAGS="$(CPPFLAGS) -Wl,-z,defs" dh_auto_configure -- --libexecdir=/usr/lib --localstatedir=/var/spool

# override_dh_build:
	#dh_build
	#docbook-to-man debian/nullmailer.sgml > nullmailer.1

PKGDIR = $(CURDIR)/debian/nullmailer
SPOOLDIR = $(CURDIR)/debian/nullmailer/var/spool/nullmailer

override_dh_install:
	dh_install -pnullmailer -Xsendmail
	dh_install --remaining-packages
	mv $(PKGDIR)/usr/bin/mailq $(PKGDIR)/usr/bin/nullmailer-mailq

override_dh_fixperms:
	dh_fixperms
	chown mail $(PKGDIR)/usr/sbin/nullmailer-queue $(PKGDIR)/usr/bin/nullmailer-mailq
	chmod 4755 $(PKGDIR)/usr/sbin/nullmailer-queue $(PKGDIR)/usr/bin/nullmailer-mailq
	chown -R mail:root $(SPOOLDIR)
	chmod 0755 $(SPOOLDIR)
	chmod 0750 $(SPOOLDIR)/queue $(SPOOLDIR)/tmp
