#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_LDFLAGS_MAINT_APPEND += -Wl,-z,defs -Wl,--as-needed
export DEB_BUILD_MAINT_OPTIONS ?= hardening=+all

%:
	dh $@ --with autotools-dev

override_dh_prep:
	dh_prep
	debconf-updatepo

override_dh_auto_configure:
	dh_auto_configure -- --libexecdir=/usr/lib --localstatedir=/var/spool --enable-tls

INSTALLDIR = $(CURDIR)/debian/tmp
PKGDIR = $(CURDIR)/debian/nullmailer
SPOOLDIR = $(PKGDIR)/var/spool/nullmailer

override_dh_auto_install:
	dh_install -pnullmailer -Xsendmail -Xnewaliases
	dh_install --remaining-packages
	mv $(INSTALLDIR)/usr/bin/mailq $(INSTALLDIR)/usr/bin/nullmailer-mailq
	mv $(INSTALLDIR)/usr/share/man/man1/mailq $(INSTALLDIR)/usr/share/man/man1/nullmailer-mailq
	# Remove trigger from the .deb (Policy 3.8.4 s10.6) - it must be created in initscript.
	# v1.11-2: In fact we don't remove trigger any more, just don't install it from $INSTALLDIR
	# $(RM) $(SPOOLDIR)/trigger

# mutter, I thought dh_installchangelogs Did The Right Thing with GNU-style NEWS changelogs
override_dh_installchangelogs:
	dh_installchangelogs -k NEWS

override_dh_fixperms:
	dh_fixperms
	chown mail $(PKGDIR)/usr/sbin/nullmailer-queue $(PKGDIR)/usr/bin/nullmailer-mailq
	chmod 4755 $(PKGDIR)/usr/sbin/nullmailer-queue $(PKGDIR)/usr/bin/nullmailer-mailq
	chown -R mail:root $(SPOOLDIR)
	chmod 0755 $(SPOOLDIR)
	chmod 0750 $(SPOOLDIR)/queue $(SPOOLDIR)/tmp

